@import "../styles/theme";

.titleList {
  h2, p {
    margin: 0;
  }
}

.blockList {
  padding: 10px 0;

  border-radius: 5px;
  &:hover {
    @include themed {
      background-color: t("base03");
    }
  }
}

.titleItem {
  display: flex;
  transition: padding 0.2s ease-in-out;
  font-size: 20px;
  @include themed {
    color: t("base1");
  }
  &:hover {
    @include themed {
      color: t("base1");
    }
  }
  &:focus {
    padding-left: 20px;
    @include themed {
      color: t("base1");
    }
  }

  // Fallback during font load
  font-family: Consolas, Monaco, monospace;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.39px;
  &:global(.inconsolata-loaded) {
    font-family: Inconsolata, Consolas, Monaco, monospace;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;
  }

  &:not(:global(.profile-open)) {
    @media only screen and (max-width: 910px) {
      flex-direction: column;
    }
  }
}
