@import "../styles/theme";

.titleList {
  margin-left: 0px;
  h2, p {
    margin: 0;
  }
}

.blockList {
  padding: 10px 0;
  border-radius: 5px;

  a {
    @include themed {
      color: t("base1");
    }
  }

  &:hover {
    @include themed {
      background-color: t("base2");
    }
  }
}

.mediaObject {
  display: flex;
  align-items: flex-start;
}

.dateItem {
  font-style: italic;
}

.titleItem {
  display: flex;
  transition: padding 0.2s ease-in-out;
  font-size: 20px;
  @include themed {
    color: t("base1");
  }
  &:hover {
    @include themed {
      color: t("base1");
    }
  }
  &:focus {
    padding-left: 20px;
    @include themed {
      color: t("base1");
    }
  }

  // Fallback during font load
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.39px;
  &:global(.rubik-loaded) {
    font-family: Rubik, sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;
  }

  &:not(:global(.profile-open)) {
    @media only screen and (max-width: 910px) {
      flex-direction: column;
    }
  }
}

.emoji {
  margin: auto 16px auto 0;
  padding: 0px 16px;
  font-size: 35px;
}

