.space {
  padding: 0 0.3rem;
}

.pictureContainer {
  border-radius: 50%;
  overflow: hidden;
  height: 180px;
  min-height: 150px;
  min-width: 180px;
  margin: 0 auto 1.5rem;
}

.profileContainer {
  display: flex;
  padding: 30px 10px 4rem 10px;

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.headerVisible {
  padding-top: 20px;
  @media only screen and (max-width: 500px) {
    padding-top: 30px;
  }
}

.title {
  font-size: 50px;
  font-weight: 900;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
}

.header {
  margin-left: 50px;

  @media only screen and (max-width: 500px) {
    margin-left: 20px;
  }
}
