$themes: (
  "dark": (
    base3: #121212,
    base2: #181818,
    base0: #839496,
    base1: rgb(216, 222, 233),
    base01: #586e75,
    base00: #657b83,
    base02: #eee8d5,
    base03: #fdf6e3,
  ),
  "light": (
    base1: #555555,
    base0: #8685EF,
    base2: #FEE5B4,
    base3: #FFFFFF,
    base03: #002b36,
    base02: #859CA2,
    base00: #D4D7DC,
    base01: #F7F7F7,
  ),
);

$yellow: #FDCC4C;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #C97F71;
$violet: #8685EF;
$blue: #268bd2;
$cyan: #2aa198;
$green: #00C896;
$pink: #D5B7EE;
$black: #181818;

@mixin themed() {
  @each $theme, $map in $themes {
    :global(.theme--#{$theme}) & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@mixin gthemed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key: "base0") {
  @return map-get($theme-map, $key);
}
